Checks: |
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  -modernize-pass-by-value,
  -modernize-use-auto,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  cppcoreguidelines-*,
  misc-*,
  llvm-namespace-comment,
  readability-*,
  performance-*,
  -clang-diagnostic-*
  
 # disable all performance-clang-diagnostic-* because clang compiler does the same 

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  # min variable length is 3, but I allow these because of math
  - key: readability-identifier-length.IgnoredVariableNames
    value: "x|y|z|dx|dy|dz|t|i|n|k"
  - key: readability-identifier-length.IgnoredParameterNames
    value: "x|y|z|dx|dy|dz|t|i|n|k"
  - key: modernize-use-trailing-return-type.LambdaStyle
    value: all_except_auto
